.row-margin{
    width: calc(100% - 50px);
    margin: 3rem auto;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//color pallete

$shade1: #d7eebc;
$shade2: #b9eec5;
$shade3: #9dddc8;
$shade4: #98c5e1;
$shade5: #a8a9e5;
