.dashboard {
    display: flex;
    flex-direction: row;

    &-title {
        width: 400px;
    }

    &-screen {
        width: 40%;
        display: flex;
        margin: 3rem;

        canvas {
            border: black 5px solid;
        }

    }
}