.main {
    &-title {
        position: relative;
        left: 0 0 0 auto;

        &__txt {
            text-align: right;
            font-size: 3rem;
        }

        &__underline {
            position: absolute;
            bottom: -15px;
            right: 0;
            height: 5px;
            width: 40%;
            background-color: black;


        }
    

    }


    &-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        img {
            height: 400px;
            width: 600px;
            object-fit: cover;
            margin: 1rem;

        }

    }
}