.hamburger {
    position: fixed;
    font-size: 2rem;
    top: 15px;
    right: 15px;
    z-index: 1001;
    height: 40px;
    width: 40px;
}

#stripe {
    display: none;
}

#cross   {
    display: none;
}

.ad-nav {
    height: 100%;
    left: -300px;
    position: fixed;
    z-index: 101;

    &-list {
        display: flex;
        position: absolute;
        flex-direction:column;
        justify-content: space-evenly;
        padding: 1rem 0;
        height: 100%;
        background-color: $shade3;
        border-bottom: $shade4 0.5rem solid;
        box-shadow: 5px 0px #888888;

        &__item {
            padding: 1rem;
            font-size: 1.5rem;
            list-style: none;
            background-color: $shade2;
            margin: 1rem;
            

            &-link {
                color: black;

            }
        }
    } 
}

