
nav {
    width: 250px;
    position: fixed;

}

.fa-chevron-down {
    display: none;
    position: fixed;
    font-size: 2rem;
    top: 15px;
    right: 15px;
}

.fa-bars {
    display: block;
    position: fixed;
    font-size: 2rem;
    top: 15px;
    right: 15px;

}

.ad-nav {

    &-list {
        display: flex;
        position: absolute;
        flex-direction:column;
        justify-content: center;
        align-items: left;
        width: 200px;
        left: -300px;
        background-color: $shade3;
        border-right: $shade4 0.5rem solid;
        border-bottom: $shade4 0.5rem solid;


        &__item {
            height: 5rem;
            width: 200px;
            font-size: 2rem;
            list-style: none;
            background-color: $shade2;
            margin: 1rem;
            border: $shade3 solid 2px;

            &-link {
                color: black;

            }
        }
    } 
}

