.ad-nav-list {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;

    &__item {
        height: 5rem;
        font-size: 2rem;
        list-style: none;
        background-color: $shade3;
        
    }
}